#main-player-room, #skill-box {
    margin: 5px;
    width: 700px;
    height: 650px;
    border: 3px solid purple;
    float: left;
}

#skill-box {
    width: 950px;
}

.skill {
    width: 100px;
    padding: 3px;
    border: 2px solid purple;
    text-align: center;
    font-family: "Yuanti SC", serif;
    float: left;
    margin: 5px;
}

.player-room {
    width: 18%;
    height: 47%;
    border: 2px solid purple;
    margin: 5px;
    float: left;
}

.player-head-img {
    width: 100px;
    height: 140px;
    border: 1px solid purple;
    margin: 5px auto auto;
}

.player-skill {
    width: 100px;
    height: 30px;
    padding: 3px;
    border: 2px solid purple;
    margin: 5px auto auto;
}

.skill-sub-box {
    width: 100%;
    clear: both;
}

.skill-title {
    font-family: "Yuanti SC", serif;
    float: left;
    margin: 5px;
    padding: 3px;
}